<div class="row">
  <div class="col-8">
    <h1 class="mt-4">Duplicatas</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Duplicatas</li>
    </ol>
  </div>
  <div class="col-4 my-auto d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary" onclick="showModal();">Nova duplicata</button>
  </div>
</div>

<div class="card mb-4">
  <table class="table" id="tableDuplicatas">
    <thead>
      <tr>
        <th style="width: 1%;" scope="col">#</th>
        <th scope="col">Pessoa</th>
        <th style="width: 1%;" scope="col">Categoria</th>
        <th style="width: 1%;" scope="col">Data</th>
        <th style="width: 1%;" scope="col">Valor</th>
        <th style="width: 1%;" scope="col">Valor Pago</th>
        <th style="width: 1%;" scope="col"></th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <td></td>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="crud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body mx-auto">
        <div class="spinner-border" role="status"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const modalElement = document.getElementById('crud');

  const tableElement = document.querySelector(`#tableDuplicatas`);

  window.addEventListener('load', function() {
    tableElement.serverProcessing({
      ajax: `/duplicatas/serverprocessing`,
      columns: [{
          select: 4,
          render: (cell, idx) => {
            return `<div class="float-end fw-bold text-danger">R$ ${cell.textContent}</div>`;
          }
        },
        {
          select: 5,
          render: (cell, idx) => {
            if (cell.textContent == '') return '';
            return `<div class="float-end fw-bold text-primary">R$ ${cell.textContent}</div>`;
          }
        },
        {
          select: 6,
          sortable: false,
          searchable: false,
          dataset: 'text-center',
          render: (cell, idx) =>
            `<div class="text-center">` +
            `<a class="mx-2" style="cursor: pointer" onclick="showModal(${cell.textContent});"><i class="fas fa-pencil"></i></a>` +
            `<a class="mx-2" style="cursor: pointer" title="Pagar" onclick="showModalPagar(${cell.textContent});"><i class="fas fa-cash-register"></i></a>` +
            `</div>`
        }
      ]
    });
  });

  function showModal(id) {
    if (id) {
      modalElement.loadModal(`/duplicatas/update?id=${id}`);
    } else {
      modalElement.loadModal('/duplicatas/create');
    }
  }

  function showModalPagar(id) {
    modalElement.loadModal(`/duplicatas/pagar?id=${id}`);
  }
</script>