<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <button type="button" class="btn btn-primary btn-sm" onclick="document.getElementById('crud').loadModal()"><i class="fas fa-sync-alt"></i></button>
        Pagar duplicata
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <%- formHelpers.formOpen(`/duplicatas/pagar`, 'post', {id: duplicata.id}, `id="formpagarduplicata"`) %>
    <div class="modal-body">
      <div class="card mb-3">
        <table class="table" id="tableRegistros" data-conta="<%= duplicata.conta %>">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoria</th>
              <th scope="col">Observação</th>
              <th scope="col">Data</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <td></td>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      <button type="button" class="btn btn-success" onclick="submitForm();">Salvar</button>
    </div>
    <%- formHelpers.formClose() %>
  </div>

  <script type="text/javascript">
    {
      const modal = document.getElementById('crud');
      const form = modal.querySelector('form#formpagarduplicata');

      const tableElementRegistros = document.querySelector(`#tableRegistros`);

      function init() {
        // console.clear();

        form.submitModal({
          success: function(response) {
            console.log(response);
            // window.location.reload();
            tableElement.JSTable.update();
          }
        });

        tableElementRegistros.serverProcessing({
          ajax: `/duplicatas/serverprocessingregistros`,
          ajaxParams: {
            conta: tableElementRegistros.dataset.conta
          },
          columns: [{
              select: 0,
              sortable: false,
              render: (cell, idx) => {
                return `<div class="text-center">` +
                  `<input type="checkbox" class="checkbox" name="registro[]" value="${cell.textContent}"` +
                  ` onclick="this.closest('tr').className=(this.checked?'selected':'')"` +
                  ` style="zoom: 1.8" />` +
                  `</div>`;
              }
            },
            {
              select: 2,
              render: (cell, idx) => {
                return `<div class="text-truncate">R$ ${cell.textContent}</div>`;
              }
            },
            {
              select: 4,
              render: (cell, idx) => {
                const aux = (cell.textContent.split('-'));
                return `<div class="float-end text-danger fw-bold">R$ ${aux[aux.length - 1]}</div>`;
              }
            }
          ]
        });


        tableElementRegistros.addEventListener("render", function() {
          Array.from(tableElementRegistros.querySelectorAll('tbody tr td:nth-child(3) div')).forEach(function(cell) {
            cell.className += " col-2 text-truncate";
            cell.parentElement.style.width = "10px";
            cell.parentElement.style.whiteSpace = "nowrap";
          });
        });
      }

      function submitForm() {
        form.dispatchEvent(new Event('submit'));
      }

      setTimeout(() => init(), 250);
    }
  </script>