<div class="modal-dialog">
  <div class="modal-content">
    <form action="/registros/categorizar" method="post" id="formcategorizar">
      <%- formHelpers.formHidden('id', id) %>
      <div class="modal-header">
        <h5 class="modal-title">
          <button type="button" class="btn btn-primary btn-sm" onclick="document.getElementById('crud').loadModal()"><i class="fas fa-sync-alt"></i></button>
          Categorizar registro
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoria</label>
          <%- formHelpers.formDropDown('categoria', categorias, null, 'class="form-select" id="categoria"') %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  {
    function init() {
      console.clear();
      const form = document.querySelector(".modal form#formcategorizar");

      form.submitModal({
        success: () => tableElement.JSTable.update()
      });
    }

    setTimeout(() => init(), 250);
  }
</script>