<div class="row">
  <div class="col-8">
    <h1 class="mt-4">Registro</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Registro</li>
    </ol>
  </div>
  <div class="col-4 my-auto d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary" onclick="showModal();">Upload</button>
  </div>
</div>
<div class="card mb-4">
  <table class="table" id="tableRegistros">
    <thead>
      <tr>
        <th style="width: 1%;" scope="col">Titular</th>
        <th style="width: 1%;" scope="col">Banco</th>
        <th style="width: 1%;" scope="col">Data</th>
        <th style="width: 1%;" scope="col">Valor</th>
        <th scope="col">Observação</th>
        <th style="width: 1%;" scope="col" class="text-center">Handle</th>id
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="crud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body mx-auto">
        <div class="spinner-border" role="status"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const tableElement = document.querySelector(`#tableRegistros`);

  window.addEventListener('load', function() {
    const formatter = new StringMask('#.##0,00', {
      reverse: true
    });
    tableElement.serverProcessing({
      ajax: `/registros/serverprocessing`,
      columns: [{
          select: 0,
          sortable: true,
          sort: "desc",
          render: (cell, idx) => `<div class="text-center">${cell.textContent}</div>`
        },
        {
          select: 3,
          render: (cell, idx) => {
            let valor = parseFloat(cell.textContent) * 100;
            return `<div class="text-right">R$ ${formatter.apply(valor)}</div>`;
          }
        },
        {
          select: 4,
          render: (cell, idx) => `<small style="white-space: normal;">${cell.textContent}</small>`
        },
        {
          select: 5,
          sortable: false,
          searchable: false,
          dataset: 'text-center',
          render: (cell, idx) => `<div class="text-center"><a style="cursor: pointer" onclick="showModal(${cell.textContent});"><i class="fas fa-pencil"></i></a></div>`
        }
      ]
    });
  });

  function showModal() {
    const modalElement = document.getElementById('crud');

    modalElement.loadModal(`/registros/upload`);
  }
</script>