<div class="row">
  <div class="col-8">
    <h1 class="mt-4">Registro</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Registro</li>
    </ol>
  </div>
  <div class="col-4 my-auto d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary" onclick="showModal();">Upload</button>
  </div>
</div>
<div class="row">
  <div class="mb-3">
    <label for="conta" class="form-label">Conta</label>
    <% console.log(contas); %>
    <%- formHelpers.formDropDown('', contas, null, `class="form-select" id="conta" onchange="reloadTable(this.value);"`) %>
  </div>
</div>
<div class="card mb-4">
  <table class="table" id="tableRegistros">
    <thead>
      <tr>
        <th style="width: 1%;" scope="col">Categoria</th>
        <th style="width: 1%;" scope="col">Data</th>
        <th style="width: 1%;" scope="col">Valor</th>
        <th scope="col">Observação</th>
        <th style="width: 1%;" scope="col" class="text-center">Handle</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="crud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body mx-auto">
        <div class="spinner-border" role="status"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const tableElement = document.querySelector(`#tableRegistros`);

  window.addEventListener('load', function() {
    tableElement.serverProcessing({
      ajax: `/registros/serverprocessing`,
      columns: [{
          select: 0,
          render: (cell, idx) => {
            const data = cell.textContent.split('-');

            let btnClass = `btn-success`;
            if (data[0] == 'CATEGORIZAR') {
              btnClass = `btn-danger`;
            }

            return `<div class="text-center d-grid gap-2">` +
              `  <button type="button" class="btn ${btnClass} btn-sm fw-bold" onclick="categorizar('${data[1]}');">${data[0]}</button>` +
              `</div>`;
          }
        },
        {
          select: 1,
          sort: 'asc',
          sortable: true,
        },
        {
          select: 2,
          render: (cell, idx) => {
            const aux = (cell.textContent.split('-'));
            const textRed = (aux.length > 1) ? 'text-danger' : 'text-success';
            return `<div class="float-end ${textRed} fw-bold">R$ ${aux[aux.length - 1]}</div>`;
          }
        },
        {
          select: 3,
          render: (cell, idx) => `<small style="white-space: normal;">${cell.textContent}</small>`
        },
        {
          select: 4,
          sortable: false,
          searchable: false,
          dataset: 'text-center',
          render: (cell, idx) => `<div class="text-center"><a style="cursor: pointer" onclick="showModal(${cell.textContent});"><i class="fas fa-pencil"></i></a></div>`
        }
      ],
      ajaxParams: {
        conta: document.querySelector(`#conta`).value
      }
    });


  });

  function showModal() {
    const modalElement = document.getElementById('crud');

    modalElement.loadModal(`/registros/upload`);
  }

  function reloadTable(value) {
    delete tableElement.JSTable.config.ajaxParams['conta'];

    if (value) {
      tableElement.JSTable.config.ajaxParams['conta'] = value;
    }

    tableElement.JSTable.isSearching = true;
    tableElement.JSTable.update();
  }

  function categorizar(id) {
    const modalElement = document.getElementById('crud');

    modalElement.loadModal(`/registros/categorizar?id=${id}`);
  }
</script>