<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Cadastrar conta bancaria</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="tipoconta" class="form-label">Tipo da conta</label>
        <select class="form-select" id="tipoconta">
          <% tiposconta.forEach(tipoconta => { %>
          <option value="<%= tipoconta.value %> "><%= tipoconta.text %> </option>
          <% }) %>
        </select>
      </div>
      <div class="mb-3">
        <label for="pessoa" class="form-label">Pessoa</label>
        <select class="form-select" id="pessoa">
          <% pessoas.forEach(pessoa => { %>
          <option value="<%= pessoa.value %> "><%= pessoa.text %> </option>
          <% }) %>
        </select>
      </div>
      <div class="mb-3">
        <label for="numero" class="form-label">Número</label>
        <input type="text" name="numero" id="numero" autocomplete="off" class="form-control" placeholder="Digite a conta com o dígito...">
      </div>
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Understood</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  {
    let modal = document.getElementById('crud');

    function init() {
      console.log('init');
      let selector = document.querySelector('.modal #tipoconta');
      selector.focus();

      let input = document.querySelector('.modal #numero');
      input.mask('##########-#', {
        reverse: true
      });
    }

    setTimeout(() => init(), 250);
  }
</script>