<div class="row">
  <div class="col-8">
    <h1 class="mt-4">Conta bancária</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Início</a></li>
      <li class="breadcrumb-item active">Conta bancária</li>
    </ol>
  </div>
  <div class="col-4 my-auto d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary" onclick="showModal();">Nova conta bancária</button>
  </div>
</div>
<div class="card mb-4">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 1%;" scope="col">#</th>
        <th scope="col">Nome e sobrenome</th>
        <th style="width: 1%;" scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <% contasbancarias.forEach(contabancaria => { %>
      <tr>
        <th scope="row"><%= contabancaria.id %></th>
        <td><%= contabancaria.numero %></td>
        <td class="text-center">
          <a style="cursor: pointer;" onclick="showModal('<%= contabancaria.id %>');">
            <i class="fas fa-pencil"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="crud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body mx-auto">
        <div class="spinner-border" role="status"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const modalElement = document.getElementById('crud');

  function showModal() {
    modalElement.loadModal('/contasbancarias/create');
  }
</script>