<% data.forEach(element=> { %>
    <p>
        <% element.contas.forEach(elConta => { %>
            <% elConta.registros.forEach(elRegistro=> { %>
                <% console.log(elRegistro); %>
                    <% }) %>
                        <% }) %>
    </p>
    <% }) %>