<div class="row">
  <div class="col-8">
    <h1 class="mt-4">Categoria</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Categoria</li>
    </ol>
  </div>
  <div class="col-4 my-auto d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary" onclick="showModal();">Nova categoria</button>
  </div>
</div>
<div class="card mb-4">
  <table class="table" id="tableCategorias">
    <thead>
      <tr>
        <th style="width: 10%; text-align: center;" scope="col">#</th>
        <th scope="col">Categoria</th>
        <th scope="col">Categoria Pai</th>
        <th style="width: 10%; text-align: center;" scope="col">Nível</th>
        <th style="width: 1%;" scope="col"></th>
        <th style="width: 1%;" scope="col"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="crud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body mx-auto">
        <div class="spinner-border" role="status"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const tableElement = document.querySelector(`#tableCategorias`);

  window.addEventListener('load', function () {
    tableElement.serverProcessing({
      perPage: 10,
      ajax: `/categorias/serverprocessing`,
      columns: [{
        select: 0,
        sortable: true,
        sort: "desc",
        render: (cell, idx) => `<div class="text-center">${cell.textContent}</div>`,
      },
      {
        select: 3,
        render: (cell, idx) => `<div class="text-center">${cell.textContent}</div>`,
      },
      {
        select: 4,
        sortable: false,
        searchable: false,
        render: function (cell, idx) {
          const data = cell.innerHTML.split('-');
          const id = data[0];
          const nivel = data[1];
          if (nivel > 0) {
            return `<div class="text-center"><a style="cursor: pointer" onclick="showModal(${id});"><i class="fas fa-pencil"></i></a></div>`;
          }
          return '';
        }
      },
      {
        select: 5,
        sortable: false,
        searchable: false,
        render: function (cell, idx) {
          const data = cell.innerHTML.split('-');
          const id = data[0];
          const nivel = data[1];
          if (nivel > 0) {
            return `<div class="text-center"><a style="cursor: pointer" onclick="deleteRow(${id})"><i class="fas fa-trash"></i></a></div>`;
          }
          return '';
        }
      }],
    });
  });

  function showModal(id) {
    const modalElement = document.getElementById('crud');

    if (id) {
      modalElement.loadModal(`/categorias/createupdate?id=${id}`);
    } else {
      modalElement.loadModal(`/categorias/createupdate`);
    }
  }

  function deleteRow(id) {
    deleteById('/categorias/delete', { id }, () => tableElement.JSTable.update());
  }
</script>