<div class="modal-dialog">
  <div class="modal-content">
    <form action="/pessoas/create" method="post" id="formpessoa">
      <div class="modal-header">
        <h5 class="modal-title">Cadastrar pessoa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control text-uppercase" id="nome" name="nome" placeholder="Digite um nome aqui...">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  {
    function init() {
      console.clear();

      let input = document.getElementById('nome');

      input.focus();

      const form = document.querySelector(".modal form#formpessoa");
      const actionUrl = form.getAttribute("action");

      form.addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = form.serializeObject();

        axios
          .post(actionUrl, formData)
          .then(function(response) {
            console.log(response);
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    }

    setTimeout(() => init(), 250);
  }
</script>