<div class="row">
  <div class="col-8">
    <h1 class="mt-4">Pessoa</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Pessoa</li>
    </ol>
  </div>
  <div class="col-4 my-auto d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary" onclick="showModal();">Nova pessoa</button>
  </div>
</div>
<div class="card mb-4">
  <table class="table" id="tablePessoas">
    <thead>
      <tr>
        <th style="width: 10%; text-align: center;" scope="col">#</th>
        <th scope="col">Nome e sobrenome</th>
        <th style="width: 1%;" scope="col" class="text-center">Handle</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="crud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body mx-auto">
        <div class="spinner-border" role="status"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const tableElement = document.querySelector(`#tablePessoas`);

  window.addEventListener('load', function () {
    tableElement.serverProcessing({
      ajax: `/pessoas/serverprocessing`,
      columns: [
        {
          select: 0,
          sortable: true,
          sort: "desc",
          render: (cell, idx) => `<div class="text-center">${cell.textContent}</div>`
        },
        {
          select: 2,
          sortable: false,
          searchable: false,
          dataset: 'text-center',
          render: (cell, idx) => `<div class="text-center"><a style="cursor: pointer" onclick="showModal(${cell.textContent});"><i class="fas fa-pencil"></i></a></div>`
        }
      ]
    });
  });

  function showModal(id) {
    const modalElement = document.getElementById('crud');

    if (id) {
      modalElement.loadModal(`/pessoas/inserireditar?id=${id}`);
    } else {
      modalElement.loadModal(`/pessoas/inserireditar`);
    }
  }
</script>