<div class="row">
  <div class="col-8">
    <h1 class="mt-4">Pessoa</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active">Pessoa</li>
    </ol>
  </div>
  <div class="col-4 my-auto d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary" onclick="showModal();">Nova pessoa</button>
  </div>
</div>
<div class="card mb-4">
  <table class="table" id="tablePessoas">
    <thead>
      <tr>
        <th style="width: 1%;" scope="col">#</th>
        <th scope="col">Nome e sobrenome</th>
        <th style="width: 1%;" scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="modal fade" id="crud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body mx-auto">
        <div class="spinner-border" role="status"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

  import('/node_modules/@jstable/jstable/dist/jstable.min.js')
    .then(() => {
      const tableElement = document.querySelector(`#tablePessoas`);

      const headElement = document.querySelector(`head`),
        createdLinkElement = document.createElement('link');

      createdLinkElement.rel = 'stylesheet';
      createdLinkElement.href = '/node_modules/@jstable/jstable/dist/jstable.css';

      headElement.appendChild(createdLinkElement);

      const table = new JSTable(tableElement, {
        // searchable: false,
        serverSide: true,
        ajax: `/pessoas/serverprocessing`,
        columns: [
          {
            select: 0,
            sortable: true,
            sort: "desc"
          },
          {
            select: 1
          },
          {
            select: 2,
            sortable: false,
            searchable: false,
            render: (cell, idx) => `<div class="text-center"><a style="cursor: pointer" onclick="showModal(${cell.textContent});"><i class="fas fa-pencil"></i></a></div>`
          }
        ],
        labels: {
          placeholder: "Procure...",
          perPage: "Exibindo {select} registros por página",
          noRows: "Nenhum registro encontrado",
          info: "Exibindo {start} até {end} de {rows} registro(s)",
          loading: "Processando...",
          infoFiltered: "Exibindo {start} até {end} de {rows} registro(s) (filtrado de {rowsTotal} registros)"
        },
      });

      table.on("init", function () {
        console.log(Array.prototype.slice.call(document.querySelectorAll(".dt-wrapper")));
      });
    });

  function showModal(id) {
    const modalElement = document.getElementById('crud');

    if (id) {
      modalElement.loadModal(`/pessoas/inserireditar?id=${id}`);
    } else {
      modalElement.loadModal(`/pessoas/inserireditar`);
    }
  }
</script>